a.link{
    background-color: green ;
}
a.link:hover{
    color: white;
    background-color: gray;
}
.btn-email{
    background-color: green;
}
.btn-email:hover{
    color: white;
    background-color: gray;
}