header{
    display: flex;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}

nav a{
    text-decoration: none;
    color: blue;
    padding: 1px;
}

nav a:hover{
    color:  black;

}

nav ul li{
    display: inline;
    list-style-type: none;
    margin: 12px;
}


body{
    margin: 0px;
    background-image: url(../img/pattern.jpg);
}

section{
    background-color: white;
    margin: 80px 200px 30px;
    padding: 30px ;
}

h1{
    text-align: center;
    
}

article{
    border-bottom: 3px solid black;
    margin-top: 10px;
}

footer{
    background-color: black;
}

h5{
    text-align: center;
    color: white;
    padding: 15px;
}